# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# PyInstaller artifacts
build/
dist/
*.spec
create_version_info.py
file_version_info.txt

# User output
output/
found_wallets/
*.log

# Environment
.env
venv/
env/
